body {
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 350px;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    margin: 10px;
    font-size: 25px;
}

.beach-main-pic {
    height: 300px;
    margin-top: 40px;
    border-radius: 50px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px;

}

.section-1 div h1 {
    font-size: 60px;
    font-weight: 700;
    color: #f9faf8;
    margin-top: 40px;
    margin-bottom: 0px;
}

.section-1 div p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-bottom: 15px;
}

.section-1 div {
    width: 400px;
    height: 400px;
    margin-right: 45px;
}

button {
    background-color: #3882f6;
    padding: 10px 32px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
    margin: 40px;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.section-2 div img {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.section-2-1 {
    display: flex;
}

.section-2-1 div {
    width: 150px;
    margin: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-desc {
    color: #1f2937;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 60px;
}

.section-3 p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    margin-bottom: 0px;

}

.section-3 span {
    align-self: flex-end;
    width: 350px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.section-4 .call-to-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 90px 150px;
    padding: 20px;
    color: #f9faf8;
    font-size: 15px;
}

.call-to-action button {
    border: 2px #f9faf8 solid;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}